@import "tailwindcss";


.font-body {
  font-family: var(--font-body);
}

.font-heading {
  font-family: var(--font-heading);
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6df138;
    --foreground: #ededed;
  }
} */

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
    overflow-x: hidden;
  min-height: 100vh;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw
}




.section{
  @apply w-full py-6;
}


.section-dark{
  @apply bg-[#02131B] text-[#FBF7F0];
}

.section-light{
  @apply bg-[#FBF7F0] text-[#02131B];

}

.section-content{
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8  py-12 md:py-12 overflow-hidden;
}